app-template:
  controllers:
    plex:
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app: &app plex
      containers:
        plex:
          image:
            repository: ghcr.io/home-operations/plex
            tag: 1.43.0.10492@sha256:8cb062f2b0660bd7811387e6c799da0ce5f18112078fe21485c11adcc83a9c1c
          env:
            TZ: America/New_York
            PLEX_ADVERTISE_URL: https://plex.dex136.xyz,http://192.168.3.244
            PLEX_NO_AUTH_NETWORKS: 192.168.1.0/24,192.168.3.0/24
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /identity
                  port: 32400
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities: { drop: ["ALL"] }
          resources:
            requests:
              cpu: 100m
            limits:
              gpu.intel.com/i915: 1
              memory: 12Gi
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch
      supplementalGroups: [44]
      seccompProfile: { type: RuntimeDefault }
    nodeSelector:
      transcode: "true"
  service:
    plex:
      controller: plex
      type: LoadBalancer
      labels:
        app: *app
      annotations:
        io.cilium/lb-ipam-ips: 192.168.3.244
      ports:
        http:
          port: 32400
  route:
    plex:
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Plex"
        gethomepage.dev/icon: plex.svg
        gethomepage.dev/group: apps
        external-dns.alpha.kubernetes.io/target: gw-external.dex136.xyz
      hostnames:
        - plex.dex136.xyz
      parentRefs:
        - name: envoy-external
          namespace: network
  persistence:
    config:
      existingClaim: plex
      globalMounts:
      - path: /config/Library/Application Support/Plex Media Server
    cache:
      existingClaim: plex-cache
      globalMounts:
        - path: /config/Library/Application Support/Plex Media Server/Cache
    logs:
      type: emptyDir
      globalMounts:
        - path: /config/Library/Application Support/Plex Media Server/Logs
    tmp:
      type: emptyDir
    transcode:
      type: emptyDir
    media:
      type: nfs
      server: crypt
      path: /mnt/pool0/media
      globalMounts:
        - path: /media
          readOnly: true
