app-template:
  controllers:
    recyclarr:
      type: cronjob
      cronjob:
        schedule: 0 0 * * *
        backoffLimit: 0
        concurrencyPolicy: Forbid
        successfulJobsHistory: 1
        failedJobsHistory: 1
        ttlSecondsAfterFinished: 86400
      containers:
        recyclarr:
          image:
            repository: ghcr.io/recyclarr/recyclarr
            tag: 8.2.1@sha256:791bdc0d2a35b0f24b89a0b14159591269ef070f19fcccfc5fb518a863141373
          env:
            RECYCLARR_DATA_DIR: /tmp
          envFrom: &envFrom
            - secretRef:
                name: recyclarr-secret
          args:
            - sync
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities: { drop: ["ALL"] }
          resources:
            requests:
              cpu: 10m
            limits:
              memory: 512Mi
      pod:
        securityContext:
          runAsUser: 10000
          runAsGroup: 10000
          runAsNonRoot: true
          fsGroup: 10000
          fsGroupChangePolicy: OnRootMismatch
  persistence:
    config:
      existingClaim: recyclarr
    config-file:
      type: configMap
      name: recyclarr-configmap
      globalMounts:
        - path: /config/recyclarr.yaml
          subPath: recyclarr.yaml
          readOnly: true
    tmp:
      type: emptyDir
