app-template:
  controllers:
    overseerr:
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app: &app overseerr
      containers:
        overseerr:
          image:
            repository: ghcr.io/sct/overseerr
            tag: 1.35.0@sha256:6197516c9d7b58ccf113455e32aafb94df5d91995fe50e8c2cae6ba6c7c7b7de
          env:
            TZ: America/New_York
            LOG_LEVEL: "info"
            PORT: &port 80
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /api/v1/status
                  port: *port
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities: { drop: ["ALL"] }
          resources:
            requests:
              cpu: 10m
            limits:
              memory: 1Gi
      pod:
        securityContext:
          runAsUser: 568
          runAsGroup: 568
          runAsNonRoot: true
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
  service:
    overseerr:
      controller: overseerr
      labels:
        app: *app
      ports:
        http:
          port: *port
  route:
    external:
      parentRefs:
        - name: envoy-external
          namespace: network
      annotations:
        external-dns.alpha.kubernetes.io/target: "gw-external.dex136.xyz"
      hostnames:
        - overseerr.dex136.xyz
    overseerr:
      parentRefs:
        - name: envoy-internal
          namespace: network
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Overseerr"
        gethomepage.dev/icon: overseerr.svg
        gethomepage.dev/group: Media
        gethomepage.dev/widget.type: overseerr
        gethomepage.dev/widget.url: http://overseerr.media
        gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_OVERSEERR_TOKEN}}" }}'
        gethomepage.dev/pod-selector: >-
          app.kubernetes.io/instance in (
              overseerr
          )
      hostnames:
        - requests.dex136.xyz
  persistence:
    config:
      existingClaim: overseerr
      globalMounts:
        - path: /app/config
    cache:
      existingClaim: overseerr-cache
      globalMounts:
        - path: /app/config/cache
    logs:
      type: emptyDir
      globalMounts:
        - path: /app/config/logs
    tmp:
      type: emptyDir
