
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  labels:
    app.kubernetes.io/name: homepage
  namespace: {{ .Release.Namespace }}
data:
  bookmarks.yaml: ""
  docker.yaml: ""
  kubernetes.yaml: |
    mode: cluster
    gateway: true
    ingress: false
  services.yaml: |
    - System:
      - NAS:
          href: 'https://nas.aisling.dev'
          icon: synology.svg
      - Unifi:
          href: 'https://192.168.1.1'
          icon: unifi.svg
      - Crypt:
          href: 'https://crypt.aisling.dev'
          icon: truenas.svg
  settings.yaml: |
    title: Dashboard
    favicon: https://raw.githubusercontent.com/aisling136/homelab/main/.icons/aisling.png
    useEqualHeights: true
    theme: dark
    color: slate
    headerStyle: clean
    quicklaunch:
      searchDescriptions: true
      hideInternetSearch: true
      showSearchSuggestions: true
      hideVisitURL: true
    disableCollapse: true
    iconStyle: theme
    layout:
      Services:
        icon: mdi-robot-angry
      Media:
        icon: sh-quickstack
      Monitoring:
        icon: mdi-chart-line
      System:
        icon: mdi-server
      Downloads:
        icon: mdi-download-circle
    providers:
      longhorn:
        url: http://longhorn-frontend.longhorn.svc.cluster.local
  widgets.yaml: |
    - search:
        provider: [google]
        focus: false
        target: _blank
    - kubernetes:
        cluster:
          cpu: true
          memory: true
          show: true
          showLabel: true
        nodes:
          cpu: true
          memory: true
          show: false
          showLabel: true
    - datetime:
        text_size: l
        format:
          timeStyle: short
          dateStyle: short
          hourCycle: h23
    - unifi_console:
        url: https://192.168.1.1:443
        username: {{"{{HOMEPAGE_VAR_UNIFI_USERNAME}}"}}
        password: {{"{{HOMEPAGE_VAR_UNIFI_PASSWORD}}"}}
    - longhorn:
        expanded: true
        total: true
    - openmeteo:
        latitude: 42.4684
        longitude: -73.8162
        timezone: America/New_York
        units: imperial
        cache: 15
