app-template:
  controllers:
    homepage:
      replicas: 1
      strategy: RollingUpdate
      labels:
        app: &app homepage
      serviceAccount:
        identifier: default
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        homepage:
          image:
            repository: ghcr.io/gethomepage/homepage
            tag: v1.10.1
          env:
            TZ: America/NewYork
            HOMEPAGE_ALLOWED_HOSTS: home.aisling.dev
          envFrom:
            - secretRef:
                name: homepage-secret
          resources:
            requests:
              cpu: 15m
              memory: 200M
            limits:
              memory: 1G
  service:
    homepage:
      controller: *app
      labels:
        app: *app
      ports:
        http:
          port: 3000
  route:
    homepage:
      hostnames:
        - home.aisling.dev
      parentRefs:
        - name: envoy-aisling-dev-internal
          namespace: network
  persistence:
    config:
      type: configMap
      name: homepage-config
      globalMounts:
        - subPath: bookmarks.yaml
          path: /app/config/bookmarks.yaml
        - subPath: docker.yaml
          path: /app/config/docker.yaml
        - subPath: kubernetes.yaml
          path: /app/config/kubernetes.yaml
        - subPath: services.yaml
          path: /app/config/services.yaml
        - subPath: settings.yaml
          path: /app/config/settings.yaml
        - subPath: widgets.yaml
          path: /app/config/widgets.yaml
  serviceAccount:
    default: {}
