app-template:
  controllers:
    excalidraw:
      replicas: 2
      strategy: RollingUpdate
      labels:
        app: &app excalidraw
      containers:
        excalidraw:
          image:
            repository: docker.io/excalidraw/excalidraw
            tag: latest@sha256:3c2513e830bb6e195147c05b34ecf8393d0ba2b1cc86e93b407a5777d6135c6c
            pullPolicy: IfNotPresent
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
          resources:
            requests:
              cpu: 5m
              memory: 10Mi
            limits:
              memory: 50Mi
      pod:
        topologySpreadConstraints:
          - maxSkew: 1
            topologyKey: kubernetes.io/hostname
            whenUnsatisfiable: DoNotSchedule
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: *app
  service:
    excalidraw:
      controller: *app
      labels:
        app: *app
      ports:
        http:
          port: 80
  route:
    excalidraw:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: *app
        gethomepage.dev/icon: excalidraw.svg
        gethomepage.dev/group: apps
      hostnames:
        - draw.dex136.xyz
      parentRefs:
        - name: envoy-internal
          namespace: network
