app-template:
  controllers:
    slskd:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app: &app slskd
      containers:
        slskd:
          image:
            repository: ghcr.io/slskd/slskd
            tag: 0.24.4@sha256:4031fc99b824ed2eec3bdbd92914fe6071539f3f71f0742052276afc2c69353d
          env:
            DOTNET_BUNDLE_EXTRACT_BASE_DIR: /tmp/.net
            TZ: America/New_York
            SLSKD_APP_DIR: /config
            SLSKD_HTTP_PORT: &port 80
            SLSKD_NO_AUTH: true
            SLSKD_NO_HTTPS: true
            SLSKD_NO_VERSION_CHECK: true
            SLSKD_SLSK_LISTEN_PORT: &soulseekPort 50429
          envFrom:
            - secretRef:
                name: slskd-secret
          probes:
            liveness:
              enabled: true
              spec:
                periodSeconds: 30
                timeoutSeconds: 5
                failureThreshold: 5
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: *port
                periodSeconds: 10
                timeoutSeconds: 5
                failureThreshold: 5
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities: {drop: ["ALL"]}
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
            limits:
              memory: 1Gi
      statefulset:
        volumeClaimTemplates:
          - name: config
            storageClass: media
            accessMode: ReadWriteOnce
            size: 5Gi
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
  service:
    slskd:
      controller: slskd
      type: LoadBalancer
      labels:
        app: *app
      annotations:
        io.cilium/lb-ipam-ips: 192.168.3.246
      ports:
        http:
          port: *port
        soulseek-tcp:
          port: *soulseekPort
          protocol: TCP
  route:
    slskd:
      hostnames:
        - slskd.aisling.dev
      parentRefs:
        - name: envoy-aisling-dev-internal
          namespace: network
      rules:
        - backendRefs:
            - identifier: slskd
              port: *port
  configMaps:
    config:
      data:
        slskd.yml: |-
          directories:
            downloads: /media/Music/soulseek/complete
            incomplete: /media/Music/soulseek/incomplete
          permissions:
            file:
              mode: 750
          shares:
            directories:
              - /media/Music/soulseek/shared
            filters:
              - \.ini$
              - Thumbs.db$
              - \.DS_Store$
  persistence:
    config-file:
      type: configMap
      identifier: config
      globalMounts:
        - path: /config/slskd.yml
          subPath: slskd.yml
    media:
      type: nfs
      server: crypt
      path: /mnt/pool0/media
      globalMounts:
        - path: /media
    tmp:
      type: emptyDir