app-template:
  controllers:
    glance:
      labels:
        app: &app glance
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        glance:
          image:
            repository: docker.io/glanceapp/glance
            tag: v0.8.4
          env:
            TZ: America/NewYork
          args:
            - --config
            - /config/glance.yaml
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities: { drop: ["ALL"] }
          resources:
            requests:
              cpu: 15m
              memory: 200M
            limits:
              memory: 1G
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1022
      runAsGroup: 1022
      fsGroup: 1022
      fsGroupChangePolicy: OnRootMismatch
  service:
    glance:
      controller: *app
      labels:
        app: *app
      ports:
        http:
          port: 8080
  route:
    glance:
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: *app
        gethomepage.dev/icon: glance.svg
        gethomepage.dev/group: apps
      hostnames:
        - glance.aisling.dev
      parentRefs:
        - name: envoy-aisling-dev-internal
          namespace: network
  persistence:
    config:
      type: configMap
      name: glance-config
