grafana:
  replicas: 1
  grafana.ini:
    analytics:
      check_for_updates: false
      check_for_plugin_updates: false
      reporting_enabled: false
    news:
      news_feed_enabled: false
    feature_toggles:
      publicDashboard: true
      angularDeprecationUI: false
    date_formats:
      use_browser_local: true
    security:
      angular_support_enabled: true
      cookie_samesite: grafana
    explore:
      enabled: true
    server:
      root_url: https://grafana.aisling.dev
  admin:
    existingSecret: grafana-admin
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: default
          orgId: 1
          folder: ""
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default-folder
        - name: kubernetes
          orgId: 1
          folder: Kubernetes
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/kubernetes-folder
        - name: envoy
          orgId: 1
          folder: Envoy
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/envoy-folder
        - name: victoriametrics
          disableDeletion: false
          editable: true
          folder: "VictoriaMetrics"
          options:
            path: /var/lib/grafana/dashboards/victoria-metrics
          orgId: 1
          type: file
  datasources:
    datasources.yaml:
      apiVersion: 1
      deleteDatasources:
        - { name: Alertmanager, orgId: 1 }
        - { name: Loki, orgId: 1 }
        - { name: Prometheus, orgId: 1 }
      datasources:
        - name: Alertmanager
          type: alertmanager
          uid: alertmanager
          url: http://vmalertmanager-vm.monitoring:9093/
          access: proxy
          jsonData:
            handleGrafanaManagedAlerts: false
            implementation: prometheus
        - name: VictoriaMetrics
          type: victoriametrics-metrics-datasource
          uid: victoria
          access: proxy
          url: http://vmsingle-vm.monitoring.svc:8428/
          isDefault: true
        - name: Prometheus
          type: prometheus
          uid: prometheus
          access: proxy
          url: http://vmsingle-vm.monitoring.svc:8428/
  dashboards:
    default:
      argocd:
        gnetId: 14584
        revision: 1
        datasource: VictoriaMetrics
      longhorn:
        gnetId: 13032
        revision: 6
        datasource: VictoriaMetrics
      cloudflared:
        # renovate: depName="Cloudflare Tunnels (cloudflared)"
        gnetId: 17457
        revision: 6
        datasource:
          - { name: DS_PROMETHEUS, value: VictoriaMetrics }
      external-dns:
        # renovate: depName="External-dns"
        gnetId: 15038
        revision: 3
        datasource: VictoriaMetrics
      unifi-insights:
        # renovate: depName="UniFi-Poller: Client Insights - Prometheus"
        gnetId: 11315
        revision: 9
        datasource: VictoriaMetrics
      unifi-network-sites:
        # renovate: depName="UniFi-Poller: Network Sites - Prometheus"
        gnetId: 11311
        revision: 5
        datasource: VictoriaMetrics
      unifi-uap:
        # renovate: depName="UniFi-Poller: UAP Insights - Prometheus"
        gnetId: 11314
        revision: 10
        datasource: VictoriaMetrics
      unifi-usw:
        # renovate: depName="UniFi-Poller: USW Insights - Prometheus"
        gnetId: 11312
        revision: 9
        datasource: VictoriaMetrics
      unpackerr:
        # renovate: depName="Unpackerr"
        gnetId: 18817
        revision: 1
        datasource:
          - { name: DS_PROMETHEUS, value: VictoriaMetrics }
      cert-manager:
          # renovate: depName="Cert-manager-Kubernetes"
          gnetId: 20842
          revision: 3
          datasource: VictoriaMetrics
      spegel:
        # renovate: depName="Spegel"
        gnetId: 18089
        revision: 1
        datasource:
          - { name: DS_PROMETHEUS, value: VictoriaMetrics }
      external-secrets:
        url: https://raw.githubusercontent.com/external-secrets/external-secrets/main/docs/snippets/dashboard.json
        datasource: VictoriaMetrics
      smartctl-exporter:
        # renovate: depName="SMARTctl Exporter Dashboard"
        gnetId: 22604
        revision: 2
        datasource:
          - { name: DS_PROMETHEUS, value: VictoriaMetrics }
    kubernetes:
      k8s-system-api-server:
        # renovate: depName="Kubernetes / System / API Server"
        gnetId: 15761
        revision: 20
        datasource: VictoriaMetrics
      k8s-views-global:
        # renovate: depName="Kubernetes / Views / Global"
        gnetId: 15757
        revision: 43
        datasource: VictoriaMetrics
      k8s-views-nodes:
        # renovate: depName="Kubernetes / Views / Nodes"
        gnetId: 15759
        revision: 40
        datasource: VictoriaMetrics
      k8s-views-namespaces:
        # renovate: depName="Kubernetes / Views / Namespaces"
        gnetId: 15758
        revision: 44
        datasource: VictoriaMetrics
      k8s-views-pods:
        # renovate: depName="Kubernetes / Views / Pods"
        gnetId: 15760
        revision: 37
        datasource: VictoriaMetrics
      k8s-volumes:
        # renovate: depName="K8s / Storage / Volumes / Cluster"
        gnetId: 11454
        revision: 14
        datasource: VictoriaMetrics
      k8s-coredns:
        # renovate: depName="Kubernetes / CoreDNS"
        gnetId: 15762
        revision: 22
        datasource: VictoriaMetrics
    victoriametrics:
      vm-cluster:
        # renovate: depName="VictoriaMetrics - cluster"
        gnetId: 11176
        revision: 53
        datasource:
          - name: "DS_PROMETHEUS"
            value: VictoriaMetrics
      vm-operator:
        # renovate: depName="VictoriaMetrics - operator"
        gnetId: 17869
        revision: 8
        datasource:
          - name: "DS_PROMETHEUS"
            value: VictoriaMetrics
      vm-vmalert:
        # renovate: depName="VictoriaMetrics - vmalert"
        gnetId: 14950
        revision: 18
        datasource:
          - name: "DS_PROMETHEUS"
            value: VictoriaMetrics
      vm-vmagent:
        # renovate: depName="VictoriaMetrics - vmagent"
        gnetId: 12683
        revision: 32
        datasource:
          - name: "DS_PROMETHEUS"
            value: VictoriaMetrics
    envoy:
      envoy-gateway:
        url: https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-addons-helm/dashboards/envoy-gateway-global.json
        datasource:
          - name: "DS_PROMETHEUS"
            value: VictoriaMetrics
      envoy-proxy:
        url: https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-addons-helm/dashboards/envoy-proxy-global.json
        datasource:
          - name: "DS_PROMETHEUS"
            value: VictoriaMetrics
      envoy-overview:
        # renovate: depName="envoy-overview"
        gnetId: 24459
        revision: 2
        datasource:
          - name: "DS_PROMETHEUS"
            value: VictoriaMetrics
      envoy-upstream:
        # renovate: depName="envoy-upstream"
        gnetId: 24457
        revision: 1
        datasource:
          - name: "DS_PROMETHEUS"
            value: VictoriaMetrics
      envoy-downstream:
        # renovate: depName="envoy-downstream"
        gnetId: 24458
        revision: 1
        datasource:
          - name: "DS_PROMETHEUS"
            value: VictoriaMetrics
  plugins:
    - grafana-clock-panel
    - grafana-piechart-panel
    - grafana-worldmap-panel
    - natel-discrete-panel
    - pr0ps-trackmap-panel
    - vonage-status-panel
    - victoriametrics-metrics-datasource
  serviceMonitor:
    enabled: true
  route:
    main:
      enabled: true
      parentRefs:
        - name: envoy-aisling-dev-internal
          namespace: network
      annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: grafana.svg
          gethomepage.dev/name: "Grafana"
          gethomepage.dev/group: Monitoring
      hostnames:
        - grafana.aisling.dev
  persistence:
    enabled: false
  testFramework:
    enabled: false
  sidecar:
    dashboards:
      enabled: true
      searchNamespace: ALL
      label: grafana_dashboard
      folderAnnotation: grafana_folder
      provider:
        disableDelete: true
        foldersFromFilesStructure: true
    datasources:
      enabled: false
