external-dns:
  provider:
    name: cloudflare
  txtOwnerId: homelab
  txtPrefix: k8s.
  env:
    - name: CF_API_TOKEN
      valueFrom:
        secretKeyRef:
          name: cloudflare-api-token
          key: api-token
  extraArgs:
    - --gateway-name=envoy-external
    - --cloudflare-proxied
    - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
    - --crd-source-kind=DNSEndpoint
  interval: 5m
  sources: ["crd", "gateway-httproute"]
  triggerLoopOnEvent: true
  serviceMonitor:
    enabled: true
  policy: sync
