app-template:
  controllers:
    kromgo:
      replicas: 2
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app: &app kromgo
      containers:
        kromgo:
          image:
            repository: ghcr.io/kashalls/kromgo
            tag: v0.7.5@sha256:25df18d426e19aafa7526cd9138a6f35ca73c6ef6fcfcf9de8971c4334f6efdf
          env:
            PROMETHEUS_URL: http://vmsingle-vm.monitoring:8428/
            SERVER_HOST: 0.0.0.0
            HEALTH_HOST: 0.0.0.0
            SERVER_PORT: 80
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /-/health
                  port: 8888
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /-/ready
                  port: 8888
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities: { drop: ["ALL"] }
          resources:
            requests:
              cpu: 10m
            limits:
              memory: 64Mi
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 65534
      runAsGroup: 65534
      seccompProfile: { type: RuntimeDefault }
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
  service:
    kromgo:
      controller: kromgo
      labels:
        app: *app
      ports:
        http:
          port: 80
  route:
    kromgo:
      hostnames:
        - "kromgo.aisling.dev"
      parentRefs:
        - name: envoy-aisling-dev-external
          namespace: network
      rules:
        - backendRefs:
          - identifier: kromgo
            port: 80
  persistence:
    config-file:
      type: configMap
      name: kromgo-configmap
      globalMounts:
        - path: /kromgo/config.yaml
          subPath: config.yaml
          readOnly: true
