app-template:
  controllers:
    actual:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        actual:
          image:
            repository: ghcr.io/actualbudget/actual-server
            tag: 26.2.1
          env:
            ACTUAL_PORT: &port 5006
          probes:
            liveness:
              enabled: true
              spec:
                periodSeconds: 30
                timeoutSeconds: 5
                failureThreshold: 5
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /
                  port: *port
                periodSeconds: 10
                timeoutSeconds: 5
                failureThreshold: 5
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 10
          resources:
            requests:
              cpu: 12m
              memory: 128M
            limits:
              memory: 512M
      pod:
        securityContext:
          fsGroup: 1000
          fsGroupChangePolicy: "OnRootMismatch"
          runAsGroup: 1000
          runAsUser: 1000
  service:
    actual:
      ports:
        http:
          port: *port
  route:
    app:
      hostnames:
        - actual.aisling.dev
      parentRefs:
        - name: envoy-aisling-dev-internal
          namespace: network
  persistence:
      data:
        existingClaim: actual
