app-template:
  controllers:
    sonarr:
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app: &app sonarr
      containers:
        sonarr:
          image:
            repository: ghcr.io/home-operations/sonarr
            tag: 4.0.16
          env:
            SONARR__AUTH__METHOD: External
            SONARR__AUTH__REQUIRED: DisabledForLocalAddresses
            SONARR__APP__INSTANCENAME: Sonarr
            SONARR__SERVER__PORT: &port 80
            SONARR__LOG__LEVEL: info
            SONARR__APP__THEME: dark
            TZ: America/New_York
          envFrom: &envFrom
            - secretRef:
                name: sonarr-secret
          probes:
            liveness:
              enabled: true
              spec:
                periodSeconds: 30
                timeoutSeconds: 5
                failureThreshold: 5
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ping
                  port: *port
                periodSeconds: 10
                timeoutSeconds: 5
                failureThreshold: 5
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities: { drop: ["ALL"] }
          resources:
            requests:
              cpu: 20m
            limits:
              memory: 4Gi
      pod:
        securityContext:
          runAsUser: 568
          runAsGroup: 568
          runAsNonRoot: true
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
          supplementalGroups: [10000]
  service:
    sonarr:
      controller: sonarr
      labels:
        app: *app
      ports:
        http:
          port: *port
  route:
    sonarr:
      parentRefs:
        - name: envoy-aisling-dev-internal
          namespace: network
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Sonarr"
        gethomepage.dev/icon: sonarr.svg
        gethomepage.dev/group: Media
        gethomepage.dev/widget.type: sonarr
        gethomepage.dev/widget.url: http://sonarr.media
        gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_SONARR_TOKEN}}" }}'
      hostnames:
        - sonarr.aisling.dev
  persistence:
    config:
      existingClaim: sonarr
    config-cache:
      existingClaim: sonarr-cache
      globalMounts:
        - path: config/MediaCover
    tmp:
      type: emptyDir
    media:
      type: nfs
      server: crypt
      path: /mnt/pool0/media
      globalMounts:
        - path: /media
