cilium:
  autoDirectNodeRoutes: true
  bandwidthManager:
    enabled: true
    bbr: true
  bpf:
    masquerade: true
    tproxy: true
  cgroup:
    automount:
      enabled: false
    hostRoot: /sys/fs/cgroup
  devices: en+
  enableRuntimeDeviceDetection: true
  endpointRoutes:
    enabled: true
  envoy:
    enabled: false
  ipam:
    mode: kubernetes
  ipv4NativeRoutingCIDR: 10.244.0.0/16
  k8s:
    apiServerURLs: >-
      https://192.168.3.10:6443
      https://192.168.3.11:6443
      https://192.168.3.12:6443
  k8sServiceHost: 127.0.0.1
  k8sServicePort: 7445
  kubeProxyReplacement: true
  kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
  l2announcements:
    enabled: true
  loadBalancer:
    algorithm: maglev
    mode: dsr
  localRedirectPolicies:
    enabled: true
  operator:
    rollOutPods: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
    dashboards:
      enabled: true
      annotations:
        grafana_folder: Cilium
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
      trustCRDsExist: true
  dashboards:
    enabled: true
    annotations:
      grafana_folder: Cilium
  rollOutCiliumPods: true
  routingMode: native
  securityContext:
    capabilities:
      ciliumAgent:
        - CHOWN
        - KILL
        - NET_ADMIN
        - NET_RAW
        - IPC_LOCK
        - SYS_ADMIN
        - SYS_RESOURCE
        - PERFMON
        - BPF
        - DAC_OVERRIDE
        - FOWNER
        - SETGID
        - SETUID
      cleanCiliumState:
        - NET_ADMIN
        - SYS_ADMIN
        - SYS_RESOURCE
  hubble:
    enabled: false
  socketLB:
      enabled: true
      hostNamespaceOnly: true
