nodes:
  - ip: 192.168.3.10
    disk: /dev/nvme0n1
    interface: enp88s0
    name: control-0
    type: controlplane
    extraLabels:
      transcode: true
  - ip: 192.168.3.11
    disk: /dev/nvme0n1
    interface: enp88s0
    name: control-1
    type: controlplane
    extraLabels:
      transcode: true
  - ip: 192.168.3.12
    disk: /dev/nvme0n1
    interface: enp2s0
    name: control-2
    type: controlplane
    extraLabels:
      transcode: true
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetes_version: v1.35.1
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talos_version: v1.12.4
talos_factory_key: "2d707641874d6d13565b80de201953c6b6a06b8c921c686160c468d83062c08f"
cluster_name: aisling-homelab
controlplane_proxy_hostname: kube.aisling.dev
controlplane_proxy_ip: 192.168.3.8
cluster_virtual_ip: 192.168.3.9
