app-template:
  controllers:
    autobrr:
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app: &app autobrr
      containers:
        autobrr:
          image:
            repository: ghcr.io/autobrr/autobrr
            tag: v1.73.0@sha256:6b0e57048087e5b7b626b0f02d39e91c8287d32691c26c709b3957227df12f7c
          env:
            AUTOBRR__CHECK_FOR_UPDATES: "false"
            AUTOBRR__HOST: 0.0.0.0
            AUTOBRR__PORT: &port 80
            AUTOBRR__LOG_LEVEL: INFO
          envFrom:
            - secretRef:
                name: autobrr-secret
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /api/healthz/liveness
                  port: *port
                initialDelaySeconds: 10
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities: { drop: ["ALL"] }
          resources:
            requests:
              cpu: 10m
            limits:
              memory: 256Mi
  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 65534
      runAsGroup: 65534
      fsGroup: 65534
      fsGroupChangePolicy: OnRootMismatch
      seccompProfile: { type: RuntimeDefault }
  service:
    autobrr:
      controller: autobrr
      labels:
        app: *app
      ports:
        http:
          port: *port
  route:
    autobrr:
      parentRefs:
        - name: envoy-internal
          namespace: network
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Autobrr"
        gethomepage.dev/icon: autobrr.svg
        gethomepage.dev/group: Media
        gethomepage.dev/widget.type: autobrr
        gethomepage.dev/widget.url: http://autobrr.media
        gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_AUTOBRR_TOKEN}}" }}'
      hostnames:
        - "autobrr.dex136.xyz"
  persistence:
    config:
      existingClaim: autobrr
    config-log:
      type: emptyDir
      globalMounts:
        - path: /config/log
    tmp:
      type: emptyDir
