app-template:
  controllers:
    prowlarr:
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app: &app prowlarr
      containers:
        prowlarr:
          image:
            repository: ghcr.io/home-operations/prowlarr
            tag: 2.3.2
          env:
            PROWLARR__APP__INSTANCENAME: Prowlarr
            PROWLARR__SERVER__PORT: &port 80
            PROWLARR__LOG__DBENABLED: "false"
            PROWLARR__LOG_LEVEL: info
            PROWLARR__AUTH__METHOD: External
            PROWLARR__AUTH__REQUIRED: DisabledForLocalAddresses
            PROWLARR__APP__THEME: dark
            TZ: America/New_York
          envFrom: &envFrom
            - secretRef:
                name: prowlarr-secret
          probes:
            liveness:
              enabled: true
              spec:
                periodSeconds: 30
                timeoutSeconds: 5
                failureThreshold: 5
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ping
                  port: *port
                periodSeconds: 10
                timeoutSeconds: 5
                failureThreshold: 5
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities: { drop: ["ALL"] }
          resources:
            requests:
              cpu: 20m
            limits:
              memory: 1Gi
      pod:
        securityContext:
          runAsUser: 568
          runAsGroup: 568
          runAsNonRoot: true
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
          supplementalGroups: [10000]
  service:
    prowlarr:
      controller: prowlarr
      labels:
        app: *app
      ports:
        http:
          port: *port
  route:
    prowlarr:
      parentRefs:
        - name: envoy-aisling-dev-internal
          namespace: network
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Prowlarr"
        gethomepage.dev/icon: prowlarr.svg
        gethomepage.dev/group: Media
        gethomepage.dev/widget.type: prowlarr
        gethomepage.dev/widget.url: http://prowlarr.media
        gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_PROWLARR_TOKEN}}" }}'
      hostnames:
        - prowlarr.aisling.dev
  persistence:
    config:
      existingClaim: prowlarr
    tmp:
      type: emptyDir
