app-template:
  controllers:
    qui:
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app: &app qui
      containers:
        qui:
          image:
            repository: ghcr.io/autobrr/qui
            tag: v1.14.1@sha256:10b7945d4f0978f56a7cb939a011e1aeef3b8d500e825f409599ae754f95601b
          env:
            TZ: America/New_York
            QUI__PORT: &port 80
            QUI__HOST: 0.0.0.0
          envFrom:
            - secretRef:
                name: qui-secret
          probes:
            liveness:
              enabled: true
              spec:
                periodSeconds: 30
                timeoutSeconds: 5
                failureThreshold: 5
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: *port
                periodSeconds: 10
                timeoutSeconds: 5
                failureThreshold: 5
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities: { drop: ["ALL"] }
          resources:
            requests:
              cpu: 20m
            limits:
              memory: 2Gi
      pod:
        securityContext:
          runAsUser: 568
          runAsGroup: 568
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
          supplementalGroups: [10000]
  service:
    qui:
      controller: qui
      labels:
        app: *app
      ports:
        http:
          port: *port
  route:
    qui:
      parentRefs:
        - name: envoy-aisling-dev-internal
          namespace: network
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "qui"
        gethomepage.dev/icon: qui.svg
        gethomepage.dev/group: Media
      hostnames:
        - qui.aisling.dev
  persistence:
    config:
      existingClaim: qui
    media:
      type: nfs
      server: crypt
      path: /mnt/pool0/media
      globalMounts:
        - path: /media
