victoria-logs-single:
  global:
    victoriaLogs:
      server:
        fullnameOverride: vl
  server:
    fullnameOverride: vl
    persistentVolume:
      enabled: true
      existingClaim: vl-data
    route:
      enabled: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/icon: si-victoriametrics-#621773
        gethomepage.dev/group: Monitoring
        gethomepage.dev/name: "Victoria Logs"
        gethomepage.dev/pod-selector: >-
          app.kubernetes.io/instance in (
              victoria-logs
          )
      hostnames:
        - vl.aisling.dev
      parentRefs:
        - name: envoy-aisling-dev-internal
          namespace: network
    vmServiceScrape:
      enabled: true
  vector:
    enabled: true
