app-template:
  controllers:
    uptime-kuma:
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app: &app uptime-kuma
      containers:
        uptime-kuma:
          env:
            TZ: America/New_York
          image:
            repository: louislam/uptime-kuma
            tag: 2.1.0@sha256:da418b1f5655c12d2d62aa3d189117bfad5d83c2ab99bb3e82b2eaaf5246bbc1
          ports:
            - name: http
              containerPort: 3001
              protocol: TCP
          resources:
            requests:
              cpu: 10m
              memory: 50Mi
            limits:
              memory: 150Mi
  service:
    uptime-kuma:
      controller: *app
      labels:
        app: *app
      ports:
        http:
          port: 3001
          protocol: TCP
  ingress:
    uptime-kuma:
      className: external
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/icon: uptime-kuma.svg
        gethomepage.dev/name: "Uptime Kuma"
        gethomepage.dev/group: Monitoring
        external-dns.alpha.kubernetes.io/target: "external.dex136.xyz"
      hosts:
        - host: kuma.dex136.xyz
          paths:
            - path: /
              service:
                identifier: *app
                port: http
  persistence:
    data:
      existingClaim: pvc-uptime-kuma
      globalMounts:
        - path: /app/data
